<div class="page-wraper">
  
   <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="alertMsg">
      <button type="button" class="close" aria-label="Close" (click)="apiServices.setAlertMsg(false);">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Alert! </strong> {{alertMsg}}
    </div>
  
    
    
     <app-header></app-header>
     
     

      <router-outlet></router-outlet>
      
     
    
     <app-footer></app-footer>
      

     

  </div>
